            body {
                background-color: #FAF7F0;
            }

            hr {
                border-style: dotted none none;
                border-width: 7px;
                border-color: grey;
                height: 0px;
                width: 5%;
            }

            img {
                height: 200px;
            }

            h1 {
                color: indianred;
            }

            h3 {
                color: indianred;
            }